.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    transition-duration: 10s;
    transition-property: backround-color;
    transition-property: border-radius;
}
.box:hover{
    background-color: antiquewhite;
    border-radius:50%;
}