 ul>li{
    /* font-size: 2em; */
    /* font-size: 150%; */
    font-size: 2rem;
    color: aqua;
    background-color: black;
}
/* section{
    width: 75vw;
    height: 50vh;
    background-color: aqua;
} */